{% extends "layout.html" %} {% block content %} {{ message | safe }}

<div class="container container2 d-flex justify-content-center">
  <div
    id="imagebox"
    style="margin: 20px auto"
    class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 d-flex justify-content-center"
  >
    <div class="panel panel-info" style="margin: 0 auto;">
      <div class="panel-heading text-center">
        <div class="panel-title">Welcome to</div>
        <img src="../static/images/entitled-logo.png" alt="Logo" style="max-width: 50%; height: auto;">
      </div>
      <div class="panel-body" style="text-align: center;">
        <form action="/inference/inference" method="POST">
          <form class="form-horizontal" method="post">
            <div id="div_id_name" class="form-group required d-flex justify-content-center flex-column">
              <div class="controls col-md-8 mx-auto">
                <input
                  class="input-md textinput textInput form-control"
                  id="query"
                  name="query"
                  style="margin: 10px auto"
                  type="text"
                  placeholder="try me"
                />
              </div>
              <div class="form-group d-flex justify-content-center">
                <button
                  type="submit"
                  name="submit"
                  value="finetuned"
                  class="btn btn-primary btn btn-info"
                  id="submit-id-signup"
                >
                  ready
                </button>
              </div>
            </div>
          </form>
        </form>
      </div>
    </div>
  </div>
</div>

<br />
<br />

{%if view_type=='finetuned'%}
<div class="container">
  <div class="row justify-content-center flex-wrap">
    {% for product in products: %}

    <div style="min-width: 370px; margin: 6px" class="col-5">
      <!-- <img
        src='../static/userimages/image_{{product["id"]}}.png'
        width="100%"
      /> -->
      <div class="col-8">
        <h2> blank space </h2>
      </div>
    </div>
    {% endfor %}
  </div>
  <br />
  <br />

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-10">
        <h4><b>Original:</b> {{ query }}</h4>
        <h4><b>Modified:</b> {{ user }}</h4>
        
      </div>
    </div>
  </div>
</div>
{%endif%} {% endblock %}
